@media screen and (min-width: 768px) {
  .back-arrow {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .back-arrow {
    margin-top: 5px;
    margin-left: 5px;
  }
}
