<mat-toolbar>
  <img src="../../../assets/logo_p6.png">
  <div class="barLinkBlock">

  <a mat-button routerLink="/post" [ngStyle]="{'color' : onPosts===true? '#7550EC' : 'black' }">Articles</a>
<a mat-button routerLink="/subject" [ngStyle]="{'color' : onSubjects===true? '#7550EC' : 'black' }">Thèmes</a>

  <a mat-button routerLink="/user" routerLinkActive="active">
    <div class="userIcon" [ngStyle]="{'border' : onProfile===true? '2px solid #7550EC' : '2px solid black' }">
      <fa-icon [icon]="faUserIcon"></fa-icon>
    </div>
  </a>
</div>
</mat-toolbar>
