<div class="loginNavbar">
  <app-login-navbar></app-login-navbar>
</div>

<app-back-arrow-link [linkToBack]="linkToBack"></app-back-arrow-link>

<div class="login" fxLayout="row" fxLayoutAlign="center center">
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
          <input matInput placeholder="Email" formControlName="email">
               <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                      formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
          <p *ngIf="onError" class="error">An error occurred</p>
      </form>
</div>
