<div class="login-navbar">
  <app-login-navbar></app-login-navbar>
</div>

<div class="cards">
  <div class="card">
    <app-back-arrow-link [linkToBack]="linkToBack"></app-back-arrow-link>
    <div class="image-block">
      <img src="../../../assets/logo_p6.png" />
    </div>
  </div>
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div><h1>Se connecter</h1></div>
      <div class="name-block">
        <div><label>E-mail ou nom d'utilisateur</label></div>
        <div><input matInput [type]="'text'" formControlName="email" /></div>
      </div>
      <div class="password-block">
        <div><label>Mot de passe</label></div>
        <div>
          <input matInput [type]="'password'" formControlName="password" />
        </div>
      </div>
      <div class="button-block">
        <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
          Se connecter
        </button>
      </div>
      <p *ngIf="onError" color="red">Erreur de connexion</p>
    </form>
  </div>
</div>
