.edit-form {
  display: flex;
  justify-content: center;
}

.edit-form div h1 {
  margin-inline: auto;
  text-align: center;
}

.edit-form div {
  margin: auto;
}

.button-block div {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.button-block button {
  border-radius: 8px;
}

input {
  border-radius: 8px;
  width: 15rem;
  height: 2.5rem;
  font-size: large;
}

img {
  width: 15rem;
}

button {
  background-color: #7550EC;
  color: white;
  width: 10rem;
}

@media screen and (min-width: 768px) {
  .subject-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 50%;
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;
    padding: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

  .subject-follow-button {
    position: absolute;
    bottom: 1rem;
    left: 35%;
  }

  .edit-form .block {
    margin: 1.8rem;
  }

  mat-card {
    background-color: lightgray;
    min-height: 15rem;
    border-radius: 8px;
  }
}

@media screen and (max-width: 767px) {
  .subject-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: 50%;
    grid-gap: 1rem;
    padding: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
  }

  .subject-follow-button {
    position: absolute;
    bottom: 1rem;
    left: 25%;
    display: table;
  }

  .user-sub {
    display: none;
  }

  mat-card {
    background-color: lightgray;
    min-height: 8rem;
    border-radius: 8px;
  }
}

.subject-card {
  position: relative;
}

.edit-form h1 {
  margin-top: 1rem;
}

.button-block {
  vertical-align: middle;
}

.logout-button {
  text-align: center;
}

.logout-button button{
  background-color: white;
  color: red;
  border: none;
  font-weight: bold;
  margin-inline: auto;
  text-align: center;
}

.line {
  width: 70%;
  height: 1px;
  background: black;
  margin: auto;
}

.user-sub h1 {
  text-align: center;
  margin-top: 1rem;;
}

.edit-block {
}
