<div class="register" fxLayout="row" fxLayoutAlign="center center">
      <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
           <input matInput placeholder="Email" formControlName="email">
           <input matInput placeholder="Name" formControlName="name">
           <input matInput placeholder="Password" formControlName="password">
          <!-- <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button> -->
          <button mat-raised-button color="primary" type="submit" >Submit</button>
          <span *ngIf="onError" class="error ml2">An error occurred</span>
      </form>
</div>
