.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .create-post-form {
    min-height: 50vh;
  }
}

.create-post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 15px
}

.title-block {
  margin-top: 20px;
}

.text-block {
  margin-top: 20px;
}

.button-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input {
  border-radius: 8px;
  width: 280px;
  height: 35px;
  font-size: large;
  border: 2px solid #7550EC;
}

textarea {
  width: 280px;
  border-radius: 8px;
  height: 250px;
  border: 2px solid #7550EC;
  font-size: large;
}

.select-block {
  border-radius: 8px;
  border: 2px solid #7550EC;
  height: 35px;
  width: 284px;
  margin-top: 40px;
}

mat-select {
  margin-left: 1px;
  font-size: medium;
  margin-top: 2px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

button {
  border-radius: 8px;
  height: 35px;
  width: 140px;
}

