<p>create-post works!</p>

<div fxLayout="row" fxLayoutAlign="center center">
  <form  [formGroup]="form" (ngSubmit)="submit()">
    <select formControlName="subjectId">
      <option *ngFor="let subject of subjects" [value]="subject.id">
        {{subject.name}}
      </option>
    </select>
       <input matInput placeholder="Titre" formControlName="title">
       <textarea matInput formControlName="text" placeholder="Saisir"></textarea>
      <!-- <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button> -->
      <button mat-raised-button color="primary" type="submit" >Submit</button>
  </form>
</div>
