<app-navbar-header></app-navbar-header>

<div class="subject-wrapper">
  <div *ngFor="let subject of subjects">
    <div class="subject-card">
      <mat-card>
        <mat-card-title> {{ subject.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ subject.description }}</p>
        </mat-card-content>
        <div class="subject-follow-button">
          <button
            mat-button
            type="submit"
            [disabled]="isAlreadyFollowed(subject.id)"
            (click)="follow(subject.id)"
          >
            S'abonner
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
